{% extends "app/layout.html" %}

{% block content %}

<h2>О нас</h2>
<p>
    Добро пожаловать в <strong>"Большую мелочь"</strong>! Мы — ваш главный источник высококачественных миниатюр, 
    аксессуаров для моделизма и всего, что связано с этим увлекательным хобби. 
    Наша миссия — предоставить энтузиастам лучшие инструменты и материалы для воплощения их творческих идей.
</p>
<p>
    В нашем ассортименте вы найдете широкий выбор миниатюр от ведущих мировых производителей, 
    а также эксклюзивные модели, которые доступны только у нас. Мы постоянно расширяем наш каталог, 
    чтобы вы могли найти именно то, что ищете.
</p>
<p>
    Присоединяйтесь к нашему сообществу и погрузитесь в мир, где каждая деталь имеет значение!
</p>

{% endblock %}
